.card-img-overlay {
    background-color: #7b1fa2;
    top: 60%;
    color: white;
    transition: .2s top ease-out;
    opacity: 0.9;
}

.card-img-overlay h5 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 170px;
    height: 270px;
    margin: 10px;
    overflow: hidden;
}

.card:hover .card-img-overlay {
    top: 100%;
}

.card:hover {
    cursor: pointer;
}

.card img {
    max-height: 100%;
    max-width: 100%;
    width: 170px;
    height: 270px;
}